@charset "UTF-8";

#anguloso {
	position: fixed;
	bottom: 0px;
	z-index: 9999;
	vertical-align: baseline;
	margin: 0;
	width: 100%;

	opacity: 0.7;
}

#anguloso .anRequest {
	color: #FFF;
	font-size: 12px;
	padding: 2px 0;

}

#anguloso .anSuccess {
	background: green;
}

#anguloso .anError {
	background: red;
}
